# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/build/
android/local.properties

# Misc
*.log
.DS_Store
